:root {
  --clr-base-400: #5e5e5e;
  --clr-base-500: #494949;

  --clr-ui-300: #f8e2ff;
  --clr-ui-400: #580d3a;
  --clr-ux-300: #e2ffea;
  --clr-ux-400: #115926;
  --clr-dev-300: #e2fcff;
  --clr-dev-400: #024f4f;
  --clr-btn-300: #fff;
  --clr-accent-400: #7e47c5;

  --ff-accent: "Podkova", serif;
  --ff-base: "Open Sans", sans-serif;

  --fs-300: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 2rem;

  --fw-400: 400;
  --fw-700: 700;

  --shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
  --border-radius: 0.75rem;
}
*, *::after, *::before {
  box-sizing: border-box;
}
body{
  font-family: var(--ff-base);
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  line-height: 1.6;
  color: var(--clr-base-400);
}

.candidate{
  padding: 1em;
}

.candidate .name{
  font-family: var(--ff-accent);
  font-size: var(--fs-500);
  font-weight: var(--fw-700);
  color: var(--clr-base-500);
  margin: 0;
  line-height: 1;
}
.candidate > img {
  border-radius: var(--border-radius);
  margin-right: 5px;
}
.roles{
  margin:0;
  font-size: var(--fs-300);
}
.roles .tag{
  font-weight: var(--fw-700);
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: var(--border-radius);

}
.ui{
  background: var(--clr-ui-300);
  color: var(--clr-ui-400);
}

.ux{
  background: var(--clr-ux-300);
  color: var(--clr-ux-400);
}

.dev{
  background: var(--clr-dev-300);
  color: var(--clr-dev-400);
}

.social{
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: space-evenly;
}

.candidate .btn{
  align-self: end;
  justify-self: end;
}
.btn{
  display: inline-block;
  color: var(--clr-btn-300);
  background: var(--clr-accent-400);
  font-weight: var(--fw-700);
  text-decoration: none;
  text-transform: uppercase;
  align-items: right;
  text-align: center;
  border-radius: var(--border-radius);
  padding: 0.5em 2.5em;
  transition: 0.3s ;
}
.btn:hover{
  background: rgba(255, 151, 255, 0.105);
  color: var(--clr-accent-400);

 
}


/* /////////////////
   Layout related
   no need to touch any of this
//////////////////*/

.candidates {
  max-width: 70em;
  margin: 0 auto;
  padding: 2em;
  display: grid;
  gap: 2em;
}

.candidate {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-areas:
    "img social"
    "name name"
    "role role"
    "bio bio"
    "button button";
  gap: 0.5em;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
}

@media (min-width: 500px) {
  .candidate {
    grid-template-columns: min-content minmax(15rem, 22.5rem);
    grid-template-rows: min-content min-content 1fr auto;
    grid-template-areas:
      "img name"
      "img role"
      "img bio"
      "social button";
  }
}

@media (min-width: 960px) {
  .candidates {
    grid-template-columns: repeat(2, 1fr);
  }
}

.candidate img {
  grid-area: img;
}
.candidate .name {
  grid-area: name;
}
.candidate .roles {
  grid-area: role;
}
.candidate .bio {
  grid-area: bio;
}
.candidate .social {
  grid-area: social;
}
.candidate .btn {
  grid-area: button;
  align-self: end;
  justify-self: end;
}
